<html>
<head>
  <title>Take me to heaven - London</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
  <script src="heavenController.js"></script>
</head>
<body ng-app="spoons">
  <div class="container" ng-controller="HeavenController as ctrl">
    <header class="row text-center">
      <h1>QUICK</h1>
    </header>
    <div ng-show='ctrl.currentView === ctrl.views[0]' class="row text-center">
      <button class="btn btn-primary" ng-click="ctrl.queryGeoLocation()">
        Take me now
      </button>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[1]' class="row text-center">
      <p>We need to know your current location to find it for you</p>
      <p><small>no worries, we are not working for the man</small></p>
      <div class="vertical-spacing"></div>
      <a ng-click='ctrl.nextView(2)' class="">
        I'm scared and rather enter my current postcode
      </a>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[2]' class="row text-center">
      <form ng-submit='ctrl.getLocationFromPostCode()' class="form-inline">
        <div class='form-group'>
          <input type='text' class="form-control" placeholder='Enter your current postcode' />
        </div>
        <input type='submit' class="btn btn-primary" />
      </form>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[3]'>
      Calculating..
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[4]' class='row text-center'>
      <h1>Result</h1>
      <p>maybe some sort of loading thing here.. and then just list the API result</p>
    </div>
  </div>
</body>
</html>