<html>
<head>
  <title>Take me to heaven - London</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
  <script src="heavenController.js"></script>
  <script src="https://use.fontawesome.com/78440e8e42.js"></script>
</head>
<body ng-app="spoons">
  <div class="container" ng-controller="HeavenController as ctrl">
    <div ng-show='ctrl.currentView === ctrl.views[0]' class="row centralizr-io">
      <button class="btn btn-spoons col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" ng-click="ctrl.queryGeoLocation()">
        Take me now
      </button>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[1]' class="row centralizr-io">
      <div class="horizontalify">
        <p>Finding current location...<p>
        <p>(please give us your geolocation, so we can find heaven for you)<p>
      </div>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[2]' class="row centralizr-io">
      <p class="horizontalify">Calculating..</p>
    </div>
    <div ng-show='ctrl.currentView === ctrl.views[3]' class='row centralizr-io'>
      <div class="horizontalify">
        <h1>Route to Heaven</h1>
          <ol>
          	<li ng-repeat='step in ctrl.spoonsRoute'>
          	  <i ng-if="step.type === 'WALKING' && !$last" class="fa fa-blind" aria-hidden="true"></i>
              <i ng-if="step.type === 'TRANSIT' && !$last" class="fa fa-subway" aria-hidden="true"></i>
              <i ng-if="$last" class="fa fa-beer" aria-hidden="true"></i>
              {{step.instructions}}
              <i ng-if="$last" class="fa fa-beer" aria-hidden="true"></i>
              <a ng-if="!$last" href="#" ng-click="ctrl.expandStep(step, $index)"><i class="fa fa-search" aria-hidden="true"></i></a>
              <div ng-attr-id="{{ 'step-' + $index  }}"  ng-show="step.expanded" class="step-map-expansion"></div>
            </li>
          </ol>
      </div>
    </div>
    <div id="places"></div>
    <iframe ng-if="ctrl.soundEnabled"
        width="0"
        height="0"
        src="http://www.youtube.com/embed/GHEUsGhUtgg?rel=0&autoplay=1&loop=1"
        frameborder="0"
        allowfullscreen></iframe>
  </div>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCce7m7YhlDHzCBAN4JlNylcdUTVHpSKI&libraries=places"></script>
</body>
</html>
