body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(135deg, #BBE7E7, #C3FECA);
  color: #370507;
  font-size: 2rem;
}

a {
  color: #0BB4CA;
}

a:hover {
  cursor: pointer;
  color: #0BB4CA;
  text-decoration: none;
}

.vertical-spacing {
  height: 2vh;
}

.btn-spoons {
  background: #0BB4CA;
  border: none;
  color: #FFF;
  padding: 2rem;
  font-size: 4rem;
}

.btn-spoons:hover {
  color: #FFF;
}

.centralizr-io {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.horizontalify {
  margin: 0 auto;
}

.step-map-expansion {
 width: 300px;
 height: 300px;
 margin: 20px auto;
}
